@tailwind base;
@tailwind components;
@tailwind utilities;

.page_container {
    @apply flex flex-col min-h-screen
}
.content_wraper{
    @apply flex-1
}
/* NAVIGATION BAR */
/* .navbar{
    @apply bg-black text-white flex flex-row sticky 
    w-full h-16 z-10 top-0 left-0 justify-start items-center
}
.sm_navbar{
    @apply bg-black text-white flex flex-row sticky top-0 left-0 justify-start items-center
    w-full sm:h-10 z-10 lg:hidden sm:flex
}
.logo_wraper {
    @apply sm:h-8  ml-8 mr-3 lg:ml-12 cursor-pointer
}
.nav_links {
    @apply hidden lg:block h-auto w-auto
}
.logo {
    @apply sm:h-8 
}
.resBtn {
    @apply  bg-red-600 px-3 p-2 m-2 lg:hidden hover:text-gray-300
    rounded cursor-pointer sm:flex
}
.dropdownMenu {
    @apply h-fit bg-red-600 text-white top-10 fixed lg:hidden 
    flex flex-col w-32 justify-center items-center text-center
    right-3/4 rounded-b-lg transition-all
}
.nav_Link {
    @apply hover:text-gray-300 w-full h-full p-1 m-1 transition-all
    hover:bg-transparent
} */

/* HEADER PAGE TAILWIDN */
.headerPage {
    @apply  w-full z-0 grid grid-cols-1 lg:grid-rows-headpage sm:grid-rows-headpageSM
    row-start-2 row-end-3 
}
.banner_wraper {
    @apply w-full bg-netflixbanner bg-no-repeat bg-cover lg:h-[44rem] sm:h-[42rem]
    text-white text-center items-center justify-center flex 
     sm:text-[2.4rem] lg:text-[4rem] flex-col mix-blend-overlay
}
.banner_gradient {
    @apply bg-gradient-to-b from-black via-transparent to-black
}
.banner_wraper > p {
    @apply  text-2xl
}
.trynow {
    @apply bg-red-600 px-6 text-[1.7rem] mt-4 rounded hover:bg-red-500 
    font-semibold p-4
}

/* HEADER SECTIONS  */
.section1{
    @apply w-full bg-black text-white
    flex items-center justify-center 
    lg:h-[36rem] lg:flex-row 
    sm:h-[32rem] sm:flex-col 
}
.section2{
    @apply w-full bg-black text-white
    flex items-center justify-center 
    lg:h-[36rem] lg:flex-row-reverse 
    sm:h-[32rem] sm:flex-col
}


/* HEADER SECTION COMPONENTS */
.section_content {
    @apply flex flex-col m-16
    w-[450px] sm:text-center lg:text-left
}
.section_img {
    @apply h-24 w-48 m-16
}
.section_content > h1 {
    @apply font-semibold lg:text-[3.8rem] sm:text-[2.5rem]
}
.section_content > p {
    @apply  font-semibold text-[1.2rem]
}
.line{
    @apply h-2 bg-netflix-gray w-full
}


/* FOOTER STYLING */

.footer {
    @apply flex flex-col justify-start items-center bg-black h-[24rem]
     bottom-0 w-full z-10 text-zinc-600 
}
.footer_content {
    @apply flex flex-row justify-center mt-[4rem]
}
.footer_links {
    @apply flex flex-col m-10
}
.footer_links > a {
    @apply w-full hover:text-gray-300 transition-all cursor-pointer hover:underline underline-offset-2 
}


/* LOGIN PAGE */

.login {
    @apply bg-netflixbanner h-[80vh] bg-no-repeat bg-cover w-full
    justify-center items-center flex 
}
/* FORM */
.form_wraper {
    @apply  h-[500px] w-[400px] rounded-2xl bg-black bg-opacity-70 text-white
    flex flex-col items-center
}
.form_wraper > form {
    @apply flex flex-col justify-center items-center
}
.form_wraper > form > input {
    @apply m-4 p-2 w-full my-2 rounded bg-netflix-gray
}
.form_wraper > form > button {
    @apply bg-red-600 p-2 text-white w-full hover:bg-red-500 rounded font-semibold
}
.form_wraper > h1 {
    @apply mt-6 font-semibold text-[2rem]
}


/* NEW NAVIGATION BAR */
.navbar {
    @apply bg-black text-white h-10 lg:h-16 flex 
    justify-start items-center w-full 
}
.lg-navbar {
    @apply hidden lg:flex flex-row ml-12 w-full items-center
}
.logo {
    @apply sm:h-8
}
.logo-wraper {
    @apply sm:h-8 sm:ml-8 mr-3 lg:ml-12 cursor-pointer
}
.link-wrapper {
    @apply ml-6
}
.link {
    @apply m-2 hover:text-gray-300 transition-all hover:underline underline-offset-2 
}
.menuBtn {
    @apply bg-red-600 px-3 p-1 hover:text-gray-300 transition-all rounded lg:hidden
    cursor-pointer ml-8
}
.sm-navbar {
    @apply lg:hidden flex flex-row ml-10 w-full
}
.sm-link-wrapper {
    @apply bg-red-600 lg:hidden flex flex-col justify-between top-10 absolute
    w-[100px] items-center ease-in-out transition-all duration-500 
}